<footer class="footer">
    <div class="footer-container">
        <div class="footer-wrap">
            <div class="footer-container-logo">
                <a href="./index.html" class="footer-logo">yachtjet</a>
                <ul class="footer-anchor-list">
                    <li class="footer-anchor-item">
                        <a href="#about" class="footer-anchor-btn">ABOUT</a>
                    </li>
                    <li class="footer-anchor-item">
                        <a href="#our-yachts" class="footer-anchor-btn">YACHTS</a>
                    </li>
                    <li class="footer-anchor-item">
                        <a href="#reviews" class="footer-anchor-btn">REVIEWS</a>
                    </li>
                </ul>
            </div>
            <div class="footer-container-social">
                <ul class="footer-soc-med-list">
                    <li class="footer-soc-med-item">
                        <a href="https://www.instagram.com/goitclub/" target="_blank" class="footer-soc-med-link"
                            rel="noopener noreferrer">
                            <svg class="footer-soc-med-icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-ft-instagram-icon-opt">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-soc-med-item">
                        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="footer-soc-med-link"
                            rel="noopener noreferrer">
                            <svg class="footer-soc-med-icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-ft-youtube-icon-opt">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-soc-med-item">
                        <a href="https://www.facebook.com/goITclub/" target="_blank" class="footer-soc-med-link"
                            rel="noopener noreferrer">
                            <svg class="footer-soc-med-icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-ft-facebook-icon-opt">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-down-wrap">
            <p class="footer-text">No matter which yacht you choose, our experienced crew will ensure that your journey
                is smooth
                and enjoyable.</p>
            <div class="footer-copyright">
                <p class="footer-copyright-text">2023. Yacht Adventures</p>
                <a href="" class="footer-priv-policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>