<header class="header">
  <div class="header-wrap">
    <nav class="header-navigation">
      <a class="header-logo" href="./index.html">yachtjet</a>
      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a href="#about" class="header-navigation-link current">ABOUT</a>
        </li>
        <li class="header-navigation-item">
          <a href="#our-yachts" class="header-navigation-link">YACHTS</a>
        </li>
        <li class="header-navigation-item">
          <a href="#reviews" class="header-navigation-link">REVIEWS</a>
        </li>
      </ul>
      <ul class="header-soc-list">
        <li class="header-soc-item">
          <a
            class="header-soc-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="header-soc-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-ft-instagram-icon-opt"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a
            class="header-soc-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="header-soc-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-ft-youtube-icon-opt"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a
            class="header-soc-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="header-soc-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-ft-facebook-icon-opt"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button
      class="header-open-btn"
      type="button"
      id="header-open-btn"
      title="Button for open mobile menu"
    >
      <svg class="header-open-icon" width="28" height="28">
        <use href="./images/icons.svg#hamburger"></use>
      </svg>
    </button>
  </div>
</header>
<!-- mobile-menu -->
<div class="mob-menu" id="mob-menu">
  <div class="mob-header-wrapper">
    <nav class="mob-menu-navigation">
      <a class="mob-menu-logo" href="./index.html">yachtjet</a>
    </nav>
    <button
      class="mob-menu-close-btn"
      type="button"
      id="mob-menu-close-btn"
      title="Button for close mobile menu"
    >
      <svg class="mob-menu-close-icon" width="28" height="28">
        <use href="./images/icons.svg#icon-header-close"></use>
      </svg>
    </button>
  </div>
  <ul class="mob-navigation-list">
    <li class="mob-navigation-item">
      <a href="#about" class="mob-navigation-link current" id="link-about"
        >ABOUT</a
      >
    </li>
    <li class="mob-navigation-item">
      <a href="#our-yachts" class="mob-navigation-link" id="link-yachts"
        >YACHTS</a
      >
    </li>
    <li class="mob-navigation-item">
      <a href="#reviews" class="mob-navigation-link" id="link-reviews"
        >REVIEWS</a
      >
    </li>
  </ul>
  <ul class="mob-soc-list">
    <li class="mob-soc-item">
      <a
        class="mob-soc-link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
      >
        <svg class="mob-soc-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-ft-instagram-icon-opt"></use>
        </svg>
      </a>
    </li>
    <li class="mob-soc-item">
      <a
        class="mob-soc-link"
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
      >
        <svg class="mob-soc-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-ft-youtube-icon-opt"></use>
        </svg>
      </a>
    </li>
    <li class="mob-soc-item">
      <a
        class="mob-soc-link"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
      >
        <svg class="mob-soc-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-ft-facebook-icon-opt"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
