<section class="yachts" id="our-yachts">
    <div class="container yachts-conteiner">
        <h2 class="yachts-title">Choose your dream yacht and sail away into the sunset</h2>
        <div class="yachts-cards">
            <ul class="yachts-list">
                <li class="yachts-item">
                    <picture>
                        <source srcset="
                            ./images/img-our-yachts/img-arrow-mob-1x-min.jpg 1x,
                            ./images/img-our-yachts/img-arrow-mob-2x-min.jpg 2x" width="302" height="240"
                            media="(max-width:767px)">
                        <source srcset="
                            ./images/img-our-yachts/img-arrow-tab-1x-min.jpg 1x,
                            ./images/img-our-yachts/img-arrow-tab-2x-min.jpg 2x" width="304" height="268"
                            media="(min-width: 768px) and (max-width: 1279px)">
                        <source srcset="
                            ./images/img-our-yachts/img-arrow-desk2-1x-min.jpg 1x,
                            ./images/img-our-yachts/img-arrow-desk2-2x-min.jpg 2x" width="345" height="268"
                            media="(min-width:1280px)">
                        <img src="./images/img-our-yachts/img-arrow-desk2-1x-min.jpg" width="345" height="268"
                            alt="Arrow" class="yachts-img">
                    </picture>
                    <div class="yachts-arr-info">
                        <p class="yachts-subtitle-name">Arrow</p>
                        <p class="yachts-subtitle-comfort">LUXURY YAHTS</p>
                    </div>
                    <div class="yachts-svg-container">
                        <svg class="yachts-icon" height="2">
                            <use href="./images/icons.svg#icon-line"></use>
                        </svg>
                    </div>
                    <div class="yachts-info-container">
                        <ul class="yachts-list-construct">
                            <li class="yachts-item-attributes">LENGTH</li>
                            <li class="yachts-item-attributes">BUILDER</li>
                            <li class="yachts-item-attributes">BUILT</li>
                            <li class="yachts-item-attributes">GUESTS</li>
                            <li class="yachts-item-attributes">PRICE</li>
                        </ul>
                        <ul class="yachts-list-specifications">
                            <li class="yachts-item-details">48m(155ft)</li>
                            <li class="yachts-item-details">Admiral</li>
                            <li class="yachts-item-details">2021</li>
                            <li class="yachts-item-details">11 in 5 cabins</li>
                            <li class="yachts-item-details">€33,500,000</li>
                        </ul>
                    </div>
                </li>
                <li class="yachts-item benneti">
                    <picture>
                        <source srcset="
                            ./images/img-our-yachts/img-benneti-tab-1x-min.jpg 1x,
                            ./images/img-our-yachts/img-benneti-tab-1x-min.jpg 2x" width="304" height="268"
                            media="(min-width: 768px) and (max-width: 1279px)">
                        <source srcset="
                            ./images/img-our-yachts/img-benneti-desk2-1x-min.jpg 1x,
                            ./images/img-our-yachts/img-benneti-desk2-1x-min.jpg 2x" width="345" height="268"
                            media="(min-width:1280px)">
                        <img src="./images/img-our-yachts/img-benneti-desk2-1x-min.jpg" alt="BENETTI OASIS 40M BO122"
                            width="345" height="268" class="yachts-img">
                    </picture>
                    <div class="yachts-ben-info">
                        <p class="yachts-subtitle-name">BENETTI OASIS 40...</p>
                        <p class="yachts-subtitle-comfort">LUXURY YAHTS</p>
                    </div>
                    <div class="yachts-svg-container">
                        <svg class="yachts-icon" height="2">
                            <use href="./images/icons.svg#icon-line"></use>
                        </svg>
                    </div>
                    <div class="yachts-info-container">
                        <ul class="yachts-list-construct">
                            <li class="yachts-item-attributes">LENGTH</li>
                            <li class="yachts-item-attributes">SHIPYARD</li>
                            <li class="yachts-item-attributes">BUILT</li>
                            <li class="yachts-item-attributes">GUESTS</li>
                            <li class="yachts-item-attributes">PRICE</li>
                        </ul>
                        <ul class="yachts-list-specifications">
                            <li class="yachts-item-details">41m (133ft)</li>
                            <li class="yachts-item-details">Benetti</li>
                            <li class="yachts-item-details">2025</li>
                            <li class="yachts-item-details">10 in 5 cabins</li>
                            <li class="yachts-item-details">€23,210,000</li>
                        </ul>
                    </div>
                </li>
                <li class="yachts-item anna">
                    <picture>
                        <source srcset="
                            ./images/img-our-yachts/img-anna-desk2-1x-min.jpg 1x,
                            ./images/img-our-yachts/img-anna-desk2-1x-min.jpg 2x" width="345" height="268"
                            media="(min-width:1280px)">
                        <img src="./images/img-our-yachts/img-anna-desk2-1x-min.jpg" width="345" height="268"
                            alt="bella anna" class="yachts-img">
                    </picture>
                    <div class="yachts-ann-info">
                        <p class="yachts-subtitle-name">BELLE ANNA</p>
                        <p class="yachts-subtitle-comfort">LUXURY YAHTS</p>
                    </div>
                    <div class="yachts-svg-container">
                        <svg class="yachts-icon" height="2">
                            <use href="./images/icons.svg#icon-line"></use>
                        </svg>
                    </div>
                    <div class="yachts-info-container">
                        <ul class="yachts-list-construct">
                            <li class="yachts-item-attributes">LENGTH</li>
                            <li class="yachts-item-attributes">SHIPYARD</li>
                            <li class="yachts-item-attributes">BUILT</li>
                            <li class="yachts-item-attributes">GUESTS</li>
                            <li class="yachts-item-attributes">PRICE</li>
                        </ul>
                        <ul class="yachts-list-specifications">
                            <li class="yachts-item-details">50m(155ft)</li>
                            <li class="yachts-item-details">ISA</li>
                            <li class="yachts-item-details">2012</li>
                            <li class="yachts-item-details">12 in 6 cabins</li>
                            <li class="yachts-item-details">€21,000,000</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#rent" class="yachts-btn">Yacht rental</a>
    </div>
</section>